<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LBP Search Facility</title>

    <style>
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
        table, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>NOT AFFILIATED WITH SONY</h2>
    <span>please don't sue me :D</span>
    <h3>New! Search speed massively increased, sorting support, and icons</h3>
    <p>
        With this tool you can search LBP levels from the official server archive.
        <br>
        Just type a query for your level, optionally select a sorting method and hit the search button.
    </p>
    <form id="search" method="get" action="/search">
        <label for="query">Level Search:</label>
        <input id="query" type="text" name="s" placeholder="Search for a level" />
        <br>
        <label for="sort">Sort</label><select name="sort" id="sort">
            <option value="name">Level Name</option>
            <option value="hearts">Hearts</option>
            <option value="author">Author</option>
        </select>
        <label for="invert">Invert Sort</label><input name="invert" id="invert" type="checkbox" />
        <br>
        <input type="submit" title="Search!" onclick="setSearch()" />
    </form>

    {{ if .HasResults }}
        {{ if (gt .ResultCount 0) }}
            <h2>Found {{ .ResultCount }} Levels</h2>
            <table>
                <tr>
                    <th>Icon</th>
                    <th>Level ID</th>
                    <th>Level Name</th>
                    <th>Level Uploader</th>
                    <th>Level Description</th>
                    <th>Uploaded In</th>
                    <th>First Published</th>
                    <th>Last Updated</th>
                    <th>Heart Count (approximate)</th>
                    <th>Background ID</th>
                </tr>
                {{ range $l := .Results }}
                <tr>
                    <td><img style="width:128px;" src="/icon/{{ $l.Icon }}" alt="the level icon" aria-hidden="true" onerror="this.style.display='none'"/></td>
                    <td>{{ $l.ID }}</td>
                    <td>{{ $l.Name }}</td>
                    <td>{{ $l.NpHandle }}</td>
                    <td>{{ $l.Description }}</td>
                    <td>{{ $l.UploadedIn }}</td>
                    <td>{{ $l.FirstPublished }}</td>
                    <td>{{ $l.LastUpdated }}</td>
                    <td>{{ $l.HeartCount }}</td>
                    <td>{{ $l.Background }}</td>
                </tr>
                {{ end }}

            </table>
            {{ if (gt .ResultCount 50) }}
                <span>Page {{len (printf "a%*s" .Page "")}}/{{.MaxPage}}</span>
                <br>

                {{ if (gt .Page 0) }}
                <a href="/search?t={{ .SearchType }}&s={{ .SearchQuery }}&page={{ .PrevPage }}">Previous Page</a>
                {{else}}
                <span style="color: gray">Previous Page</span>
                {{ end }}

                {{ if (lt .Page .MaxPage) }}
                <a href="/search?t={{ .SearchType }}&s={{ .SearchQuery }}&page={{ .NextPage }}">Next Page</a>
                {{ else }}
                <span style="color: gray">Next Page</span>
                {{ end }}
            {{ end }}
        {{ else }}
           <h2>No levels found, unfortunately</h2>
        {{ end }}
    {{ end }}
</body>
</html>